* {
  /* border: 1px solid red; */
  /* font-family: 'Roboto', Arial, Helvetica, sans-serif ; */
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    transition-duration: 650ms;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-img2 {
    height: 150px;
    width: 200px;
  }

  .article-img3 {
    height: 300px;
    width: 400px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .your-links:hover {
    opacity: 55%;
    text-decoration-color: rgba(0, 0, 0, 0.55);
    transition-duration: 300ms;
  }

  .logo{
    height: 40px;
    width: 40px;
  }

  .logo2{
    height: 28px;
    width: 28px;
    opacity: 80%;
  }

  .logo2:hover{
    opacity: 100%;
    transition-duration: 400ms;
  }

  .footerlink{
    opacity: 60%;
  }

  .footerlink:hover{
    opacity: 100%;
    transition-duration: 400ms;
  }

  .navlogo{
    opacity: 80%;
  }

  .navlogo:hover{
    opacity: 100%;
    transition-duration: 400ms;
  }

  

  #page-container {
    position: relative;
    min-height: calc(100vh - 5rem);
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }