{% extends "layout.html" %}
{% block content %}
    {% if current_user == user %}
      <h5 class="mb-3 text-capitalize">Your {{keyword}}</h5>
    {% else %}
      <h5 class="mb-3">{{ user.email }} {{keyword}}</h5>
    {% endif %}
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% for item in items %}  
        <article class="content-section row align-items-center">
            {% if item.notactive and item.hasbuyer%}
              <div class="bg-steel w-100 text-center text-light rounded mb-2">Sold!</div>
            {% elif item.notactive and item.hasbuyer == False %}
              <div class="bg-steel w-100 text-center text-light rounded mb-2">Auction Ended</div>
            {% endif %}
            <div class="col-5 d-flex justify-content-center">
              <img class="article-img2" src="{{ url_for('static', filename='item_pics/' + item.image_file) }}">
            </div>
            <div class="col-7">
              <div class="mb-2">
                <a class="article-title h2 text-capitalize" href="{{ url_for('items.item', item_id=item.id) }}">{{ item.title }}</a>
                {% if item.category != "None" %}
                <small class="ml-1 \text-muted">{{ item.category }}</small>
                {% endif %}
              </div>

              {% if item.notactive and item.hasbuyer %}
                <div class="">Sold Price: ${{ item.price|round(2) }}</div>
              {% elif item.notactive and item.hasbuyer == False %}
              <div class="">Price: ${{ item.price|round(2) }}</div>
              {% elif item.notactive == False %}
                <div class="">Current Bid: ${{ item.price|round(2) }}</div>
              {% endif %}
              
              {% if item.notactive%}
                <div class="">Ended: {{ item.enddate.strftime('%h %d, %I:%M%p') }}</div>
              {% else %}
                <div class="">Auction Ends: {{ item.enddate.strftime('%h %d, %I:%M%p') }}</div>
              {% endif %}
              <div class="border-top grid">
                <div class="small">seller: <a class="mr-2" href="{{ url_for('users.user_items', email=item.author.email) }}">{{ item.author.email }}</a></div>
                <div class="small text-muted">listed: {{ item.listeddate.strftime('%m-%d-%Y') }}</div>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
      {% if current_user.is_authenticated %}
      <div class="col-md-4">
        <div class="content-section">
          <h3>Your Links</h3>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_bids', email=current_user.email) }}" class="text-dark your-links">Bids</a></li>
              <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_purchases', email=current_user.email) }}" class="text-dark your-links">Purchases</a></li>
              <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_watchlist', email=current_user.email) }}" class="text-dark your-links">Watchlist</a></li>
              <p></p>
              <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_items', email=current_user.email) }}" class="text-dark your-links">Listings</a></li>
              <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_sold', email=current_user.email) }}" class="text-dark your-links">Sold Items</a></li>
            </ul>
        </div>
      </div>
      {% endif %}
    </div>

    
{% endblock content %}