{% extends "layout.html" %}
{% block content %}
    {% if current_user == user %}
        <h5 class="mb-3">Your Purchases</h5>
    {% else %}
        <h5 class="mb-3">{{ user.email }} Purchases</h5>
    {% endif %}
    {% for bid in purchases %}
    {% if bid.item.notactive%}
    <article class="content-section row align-items-center">
          <div class="bg-secondary w-100 text-center text-white">SOLD!</div>
        <div class="col-5 d-flex justify-content-center">
          <img class="article-img2" src="{{ url_for('static', filename='item_pics/' + bid.item.image_file) }}">
        </div>
        <div class="col-7">
          <div class="mb-2">
            <a class="article-title h2" href="{{ url_for('items.item', item_id=bid.item.id) }}">{{ bid.item.title }}</a>
            {% if bid.item.category != "None" %}
            <small class="ml-1 \text-muted">{{ bid.item.category }}</small>
            {% endif %}
          </div>

          {% if bid.item.notactive and bid.item.hasbuyer%}
            <div class="">Sold Price: ${{ bid.item.price|round(2) }}</div>
          {% elif bid.item.notactive and bid.item.hasbuyer == False %}
          <div class="">Price: ${{ bid.item.price|round(2) }}</div>
          {% elif bid.item.notactive == False %}
            <div class="">Current Bid: ${{ bid.item.price|round(2) }}</div>
          {% endif %}
          
          {% if bid.item.notactive%}
            <div class="">Ended: {{ bid.item.enddate.strftime('%h %d, %I:%M%p') }}</div>
          {% else %}
            <div class="">Auction Ends: {{ bid.item.enddate.strftime('%h %d, %I:%M%p') }}</div>
          {% endif %}
          <div class="border-top grid">
            <div class="small">seller: <a class="mr-2" href="{{ url_for('users.user_items', email=bid.item.author.email) }}">{{ bid.item.author.email }}</a></div>
            <div class="small text-muted">listed: {{ bid.item.listeddate.strftime('%m-%d-%Y') }}</div>
          </div>
        </div>
      </article>
    {% endif %}
    {% endfor %}
{% endblock content %}